@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    max-width: 125px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
  display: inline-block;
  color: #333;
  font-weight: 400; 
  margin-left: 60px;
  text-decoration: none; 
}
.grid
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    background: #fff;
    justify-content: center;
    margin-top: 9%;
}
.grid .informacion
{
    display: grid;
    grid-column-start: x0;
    grid-column-end: x3;
    grid-row-start: y0;
    grid-row-end: y1;
    background: #1B1464;
    align-content:center ;
}
.grid .informacion .cajaTexto
{
    align-content:center ;
    justify-content:center;
}
.grid .informacion .cajaTexto h1
{
    color: #FFDE59;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
    text-align: center;
}
.grid .menu
{
    display: grid;
    grid-column-start: x0;
    grid-column-end: x1;
    justify-content:center;
}
.grid .menu ul
{
    display: grid;
    grid-column-start: x0;
    grid-column-end: x2;
    display: flex;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #1B1464;
}
.grid .menu ul li
{
    list-style: none;
}
.grid .menu ul li a
{
  display: inline-block;
  color: #FFDE59;
  font-weight: 400; 
  text-decoration: none; 
  padding: 60px 60px;
  background-color: #1B1464;
}
.menu ul li a:hover
{
    background-color: #FFDE59;
    color: #1B1464;
}

.grid .texto 
{
    grid-row-start: y1;
    grid-row-end: y3;
    
}

.slide2 {
    grid-column-start: x2;
    grid-column-end: x3;
	grid-row-start: y1;
    grid-row-end: y3;
	margin:60px auto 0;
	overflow: hidden;
}

.slide2 ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slide2 li {
	width: 100%;
	list-style: none;
}

.slide2 img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



.slide3 {
    grid-column-start: x1;
    grid-column-end: x2;
	grid-row-start: y1;
    grid-row-end: y3;
	margin:60px auto 0;
	overflow: hidden;
}

.slide3 ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slide3 li {
	width: 100%;
	list-style: none;
}

.slide3 img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



@media (max-width: 991px)
{
    header
    {
        padding: 20px;    
    }
    header .logo 
     {
        max-width: 80px;
     }
    header ul 
    {
        display: none;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 20px;
        background: url(../img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(0);
    }
    header ul.navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #1B1464;
        z-index: 10;
    }
    header ul li a
    {
        font-size: 2em;
        margin: 5px 0;
        filter: invert(1);
    }
    header ul li a:hover
    {
        color: #fff;
    }
    section
    {
        padding: 20px 20px 120px;
    }

    .grid
    {
        margin-top: 15%;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
        grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
        background: #fff;
        justify-content: center;
    }
    .grid .informacion
    {
        display: grid;
        grid-column-start: x0;
        grid-column-end: x3;
        grid-row-start: y0;
        grid-row-end: y1;
        background: #1B1464;
    }
    .grid .informacion .cajaTexto h1
    {
        color: #FFDE59;
        font-size: 4em;
        line-height: 1.4em;
        font-weight: 600;
        text-align: center;
    }
    .grid .texto 
    {
        grid-column-start: x0;
        grid-column-end: x2;
        grid-row-start: y1;
        grid-row-end: y3;
        
    }
    .grid .menu
    {
        display: grid;
        grid-column-start: x0;
        grid-column-end: x1;
        grid-row-start: y0;
        grid-row-end: y1;
        justify-content:flex-end;
        margin-right: 60%;
    }
    .slide3 {
        grid-column-start: x2;
        grid-column-end: x3;
        grid-row-start: y2;
        grid-row-end: y3;
        margin:60px auto 0;
        overflow: hidden;
    }
}